<section class="login__container">
  <div class="login__container-desc">
    <div class="title">
      <h1>api</h1>
      <h2>gen</h2>
    </div>
    <div class="desc">
      <div class="info">
        <i class="fab fa-node-js fa-2x"></i>
        <p>Genera tus apis</p>
      </div>
      <div class="info">
        <i class="far fa-clock fa-2x"></i>
        <p>Incrementa tu tiempo de produccion</p>
      </div>
      <div class="info">
        <i class="fas fa-cloud-download-alt fa-2x"></i>
        <p>Descarga tus proyectos</p>
      </div>
    </div>
    <div class="container">
      <div class="path"></div>
    </div>
  </div>
  <div class="login__container-form">
    <form [formGroup]="loginForm">
      <div class="form__group">
        <span>Correo Electronico</span>
        <input type="text" class="form__input" formControlName="emailUser">
      </div>
      <div class="form__group">
        <span>Contraseña</span>
        <input type="password" class="form__input" formControlName="passwordUser">
      </div>
      <div class="form__button">
        <button (click)="logIn()">INICIAR SESION</button>
      </div>
    </form>
  </div>
</section>
