@import "../../scss/util/mixin";
@import "../../scss/util/variable";

.login__container {
  @include hxw(100vh, 100%);
  display: flex;

  &-desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--back1);

    .title {
      display: flex;
      align-items: center;
      @include hxw(15vh, 100%);

      h1 {
        margin-left: 8%;
        font-family: $fontForm;
        font-size: 2.2rem;
        font-weight: 500;
        color: var(--color1);
      }

      h2 {
        font-family: $fontForm;
        font-size: 2.2rem;
        font-weight: 500;
      }
    }

    .desc {
      display: flex;
      justify-content: center;
      flex-direction: column;
      // background: red;
      margin-top: 15%;
      @include hxw (50%, 100%);
      z-index: 500;

      .info {
        display: flex;
        align-items: center;
        margin-left: 35%;
        margin-bottom: 5%;

        i {
          height: auto;
          width: 5rem;
          text-align: center;
          // background: green;
          font-size: 3.5rem;
          color: white;
        }

        p {
          margin-left: 2.5%;
          font-family: $fontText;
          font-weight: 600;
          font-size: 2rem;
          color: white;
        }
      }
    }

    .container {
      position: absolute;
      // right: 0;
      @include hxw (100%, 100%);
      filter: var(--shadow);
      .path {
        @include hxw (100%, 50%);
        background: var(--color1);
        clip-path: circle(65.9% at 79% 84%);
        // top: 0;
      }
    }
  }


  &-form {
    flex: 1;
    z-index: 500;
    background-color: var(--back2);
    background-size: cover;
    // width: 20%;
    // clip-path: ellipse(40% 55% at 51% 65%);
    // clip-path: polygon(32% 0%, 100% 0%, 100% 100%, 0% 100%);

    @include flexCenter;

    form {
      margin-top: 17%;
      @include hxw(50%, 50%);
    }
  }

}
