<section class="navbar__container">
  <div class="left">
    <h1>api</h1>
    <h2>gen</h2>
    <div class="nav">
      <a [routerLink]="['/home/apigen', id]">INICIO</a>
      <a [routerLink]="['/home/apigen', id, 'models']" routerLinkActive="active">MODELOS</a>
      <a>GET</a>
      <a>POST</a>
      <a>UPDATE</a>
      <a>OPCIONES</a>
    </div>
  </div>
  <div class="right">
    <a routerLink="/home" routerLinkActive="active"> <i class="fas fa-home"></i></a>
    <!-- <a (click)="toggleDark()"> <i class="fas fa-moon"></i></a> -->
    <a (click)="logout()"> <i class="fas fa-sign-out-alt"></i></a>
  </div>

</section>
