<section class="project__information">
  <div class="left">
    <h1>Informacion</h1>
    <div class="left__container">
      <h2>Descripcion</h2>
      <div class="left__container-box">
        <p>{{dataProject?.descProject}}</p>
      </div>
    </div>
    <div class="left__container">
      <h2>Lenguaje</h2>
      <div class="left__container-box">
        <p>NODE.JS</p>
      </div>
    </div>
    <div class="left__container">
      <h2>Base de Datos</h2>
      <div class="left__container-box">
        <p>MongoDB</p>
      </div>
    </div>
    <div class="left__container">
      <h2>Fecha de Creacion</h2>
      <div class="left__container-box">
        <!-- <p>{{dataProject | date: 'short'}}</p> -->
      </div>
    </div>
  </div>
  <div class="right">
    <h1>Actividad Reciente</h1>
    </div>

</section>
