<section class="project__models">
  <div class="project__models-notfound" *ngIf="dataModels?.length == 0">
    <!-- <i class="fas fa-exclamation-circle"></i> -->
    <i class="far fa-frown-open"></i>
    <p>Aun no haz creado ningun Modelo.</p>
    <a href="">Crea un Modelo</a>    
  </div>
  <div class="project__models-container">
    <a class="project__models-container--box create" [routerLink]="['/home/apigen', idProject, 'models', 'create']">      
      <span>CREAR MODELO</span>
    </a>
    <a class="project__models-container--box" *ngFor="let model of dataModels">
      <span>{{model?.titleModel}}</span>
      <span class="fecha">fecha</span>
    </a>



  </div>
  
</section>